<section class="navbar navbar-expand-md contact-wrapper">
  <div class="container-fluid">
    <div class="col-xs-8 col-sm-3 company-name text-light">
      <h3 class="fw-normal m-0">خانه های رویایی ایرانی</h3>
    </div>
    <a
      href="#"
      class="navbar-toggler toggler-social text-white text-decoration-none border-0"
      data-bs-toggle="collapse"
      data-bs-target="#social-media"
      >تماس با ما</a
    >
    <div
      dir="ltr"
      id="social-media"
      class="collapse navbar-collapse col-xs-4 col-sm-9 social-media"
    >
      <div class="navbar-nav">
        <a class="nav-link" href="https://wa.me/+989178638876" target="_blank">
          <i class="fa-brands fa-whatsapp text-center text-white"></i>
        </a>
        <a
          class="nav-link"
          href="https://instagram.com/iraniandreamhome"
          target="_blank"
        >
          <i class="fa-brands fa-instagram text-white text-center"></i>
        </a>
        <a
          class="nav-link"
          href="https://youtube.com/@iraniandreamhome"
          target="_blank"
        >
          <i class="fa-brands fa-youtube text-white text-center"></i>
        </a>
        <a
          class="nav-link"
          href="mailto:iraniandreamhome@gmail.com"
          target="_blank"
        >
          <i class="fa-solid fa-envelope text-white text-center"></i>
        </a>
        <a
          class="nav-link"
          href="https://t.me/iraniandreamhome"
          target="_blank"
        >
          <i class="fa-brands fa-telegram text-white text-center"></i>
        </a>
        <a
          class="nav-link"
          href="https://linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&followMember=iraniandreamhome-%D8%AE%D8%A7%D9%86%D9%87-%D9%87%D8%A7%DB%8C-%D8%B1%D9%88%DB%8C%D8%A7%DB%8C%DB%8C-%D8%A7%DB%8C%D8%B1%D8%A7%D9%86%DB%8C-a6949a213"
          target="_blank"
        >
          <i class="fa-brands fa-linkedin text-white text-center"></i>
        </a>
        <a
          class="nav-link"
          href="https://facebook.com/iraniandreamhome"
          target="_blank"
        >
          <i class="fa-brands fa-square-facebook text-white text-center"></i>
        </a>
        <a
          class="nav-link"
          href="https://twitter.com/Iraniandreamhom"
          target="_blank"
        >
          <i class="fa-brands fa-twitter text-white text-center"></i>
        </a>
        <a class="nav-link" href="tel:+989178638876">
          <i class="fa-solid fa-phone text-white text-center"></i>
        </a>

        <a
          href="javascript:void(0)"
          onclick="more_social()"
          class="nav-link d-md-none"
        >
          <img src="../assets/icons/eitaa.svg" alt="" />
        </a>

        <a
          href="javascript:void(0)"
          onclick="more_social()"
          class="nav-link d-md-none"
        >
          <img src="../assets/icons/aparat.svg" alt="" />
        </a>

        <div class="nav-link dropdown d-none d-md-inline">
          <a
            class="dropdown-toggle ir-social"
            href="#"
            data-bs-toggle="dropdown"
          >
            <i class="fa-solid fa-ellipsis-vertical text-white text-center"></i>
          </a>
          <div class="dropdown-menu">
            <a
              href="javascript:void(0)"
              onclick="more_social()"
              class="dropdown-item"
              ><img
                src="../assets/icons/aparat-black.svg"
                alt="aparat"
                width="20px"
                height="20px"
            /></a>
            <a
              href="javascript:void(0)"
              onclick="more_social()"
              class="dropdown-item"
              ><img
                src="../assets/icons/eitaa-black.svg"
                alt="eitaa"
                width="20px"
                height="20px"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
