/* start contact styles */
.contact-wrapper {
  min-height: 40px;
  background-color: var(--contact-wrapper-color);
}

.company-name h1 {
  font-size: 15px;
}

.social-media i {
  width: var(--contact-wrapper-icon-size);
  height: var(--contact-wrapper-icon-size);
  padding: 10px;
  transition: 0.25s linear;
}

.social-media i:hover,
.social-media .nav-link:hover i {
  transform: scale(1.2);
}

.social-media .nav-link {
  display: inherit;
}

.toggler-social {
  font-size: 15px;
  box-shadow: none !important;
}

.ir-social::after {
  content: "";
  display: none;
}

/* end contact styles */

/* start media queries custom */
@media only screen and (min-width: 768px) {
  .contact-wrapper {
    min-height: 0;
    height: 40px;
  }
}
/* end media queries custom */
