@charset "UTF-8";

h3 {
  color: #413636;
  font-size: $font-size + 14px;
  font-weight: 600;
  margin: 15px;
}

.login-form {
  height: auto;
  background-color: #ff8000;
  padding: 10px;
  border-radius: 14px;
}

.input-group-custom {
  @include margin-padding(10px, 0, 0, 0);
  //   input {

  //     &:focus {
  //       border-color: orange !important;
  //       outline: auto 1px;
  //       box-shadow: none !important;
  //     }
  //   }
  //   .input-group-text-custom,input, label{
  //     @include margin-padding(3px,5px,0,5px,false);
  //   }
}

input {
  font-size: $font-size + 4px !important;
  outline-color: #fd690d !important;
  border-color: orange;
  border-radius: 10px;
  width: 90%;
  @include margin-padding(8px, 5px, 5px, 5px, false);
  &:hover {
    background-color: #e9e9e9;
  }
  &::placeholder {
    font-size: $font-size + 4px !important;
    color: #d95d15;
  }
}

#show-hide {
  color: green;
  font-size: 25px;
  @include margin-padding(0, 5px, 0, 0);
}

#login {
  @include margin-padding(20px, auto, 0, auto);
  font-size: 20px;
  @include margin-padding(2px, 5px, 2px, 5px, false);
  color: #fff;
  background-color: #ff4000;
  border: {
    color: #ff4000;
    radius: 10%;
  }
  transition: 0.25s linear;
  &:hover {
    background-color: #e60000;
    border-color: #e60000;
    cursor: pointer;
  }
}

.login-cover {
  text-align: center;
}

.error {
  font-size: $font-size - 1px;
  color: red;
}

@media only screen and (max-width: 575px) {
  h3 {
    font-size: $font-size + 4px;
    margin: 10px;
  }

  .login-form {
    min-width: 200px;
  }

  input {
    font-size: $font-size - 1px !important;
    @include margin-padding(0, 5px, 0, 5px, false);
    border-radius: 7px;
    &::placeholder {
      font-size: $font-size - 1px !important;
    }
  }

  .input-group-custom {
    @include margin-padding(10px, 0, 0, 0);
    input {
      &:focus {
        border-color: orange !important;
        outline: auto 1px;
        box-shadow: none !important;
      }
    }
    .input-group-text-custom,
    input,
    label {
      @include margin-padding(1px, 5px, 0, 5px, false);
    }
  }

  #show-hide {
    font-size: 12px;
    margin-left: 0;
  }

  #login {
    font-size: $font-size - 1px;
    margin-left: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 899px) {
  .login-form {
    min-width: 50%;
  }

  h3 {
    font-size: $font-size + 9px;
  }

  input {
    font-size: $font-size + 1px;
    @include margin-padding(5px, 5px, 3px, 5px, false);
    &::placeholder {
      font-size: $font-size + 1px;
    }
  }

  #show-hide {
    font-size: 20px;
    margin-left: 0;
  }

  #login {
    font-size: $font-size + 1px;
  }
}

@media only screen and (min-width: 900px) {
  .login-form {
    min-width: 450px;
  }
}
