/* start contact styles */
.contact-wrapper {
  min-height: 40px;
  background-color: $contact-wrapper-color;
}

.company-name h1 {
  font-size: $font-size - 1px;
}

.social-media {
  i {
    width: $contact-wrapper-icon-size;
    height: $contact-wrapper-icon-size;
    padding: 10px;
    transition: 0.25s linear;
  }
  i:hover,
  .nav-link:hover i {
    transform: scale(1.2);
  }
  .nav-link {
    display: inherit;
  }
}
.toggler-social {
  font-size: $font-size - 1px;
  box-shadow: none !important;
}

.ir-social::after {
  content: "";
  display: none;
}

/* end contact styles */

/* start media queries custom */
@media only screen and (min-width: 768px) {
  .contact-wrapper {
    min-height: 0;
    height: 40px;
  }
}
/* end media queries custom */
