@mixin width-height($width, $height) {
  width: $width!important;
  height: $height!important;
}

@mixin margin-padding($top, $right, $bottom, $left, $margin: true) {
  @if ($margin == true) {
    margin: $top $right $bottom $left!important;
  } @else {
    padding: $top $right $bottom $left!important;
  }
}

@mixin display($display: block, $justify-content: null, $align-items: null) {
  @if ($display == flex) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
  } @else {
    display: $display;
  }
}
